name: 'Desktop-Windows full test suite run on pull request'
on:
  pull_request:
    branches: [ main ]

concurrency:
  group: pr-desktop-windows-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test-desktop-windows:
    runs-on: windows-latest
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.85.1

      - name: npm install ci deps
        env:
          GH_TOKEN: ${{ github.token }}
        run: npm ci

      - name: Download phoenix and build build phoenix dist-test
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          npm run _ci-clonePhoenixForTests
          cd ..
          cd phoenix
          npm ci
          npm run build
          npm run release:dev

      - name: build test runner
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          npm ci
          npm run releaseDistTestDebug

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: phoenix-debug-binaries
          path: |
            .\src-tauri\target\debug\phoenix-test.exe
            .\src-tauri\target\debug\phnode.exe
            .\src-tauri\target\debug\src-node\

      - name: Run tauri unit tests in windows
        # GUI apps in windows doesn't log on console. so we capture the output to a text file and print it, then fail on error.
        uses: nick-fields/retry@v3
        id: windowsRunUnit
        continue-on-error: true
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: .\src-tauri\target\debug\phoenix-test.exe --run-tests=unit -q > output-unit.txt 2>&1
          shell: cmd

      - name: Print windows unit test output to console
        run: type output-unit.txt
        shell: cmd

      - name: Run tauri integration tests in windows
        uses: nick-fields/retry@v3
        id: windowsRunIntegration
        continue-on-error: true
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: .\src-tauri\target\debug\phoenix-test.exe --run-tests=integration -q > output-integration.txt 2>&1
          shell: cmd

      - name: Print windows integration test output to console
        run: type output-integration.txt
        shell: cmd

      - name: Run tauri mainview tests in windows
        uses: nick-fields/retry@v3
        id: windowsRunMainview
        continue-on-error: true
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: .\src-tauri\target\debug\phoenix-test.exe --run-tests=mainview -q > output-mainview.txt 2>&1
          shell: cmd

      - name: Print windows mainview test output to console
        run: type output-mainview.txt
        shell: cmd

      - name: Run tauri livepreview tests in windows
        uses: nick-fields/retry@v3
        id: windowsRunLivepreview
        continue-on-error: true
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: .\src-tauri\target\debug\phoenix-test.exe --run-tests=livepreview -q > output-livepreview.txt 2>&1
          shell: cmd

      - name: Print windows livepreview test output to console
        run: type output-livepreview.txt
        shell: cmd

      - name: Run tauri LegacyInteg tests in windows
        uses: nick-fields/retry@v3
        id: windowsRunLegacyInteg
        continue-on-error: true
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: .\src-tauri\target\debug\phoenix-test.exe --run-tests=LegacyInteg -q > output-LegacyInteg.txt 2>&1
          shell: cmd

      - name: Print windows LegacyInteg test output to console
        run: type output-LegacyInteg.txt
        shell: cmd

      - name: Fail on test runs failed in windows
        if: steps.windowsRunUnit.outcome == 'failure' || steps.windowsRunIntegration.outcome == 'failure' || steps.windowsRunMainview.outcome == 'failure' || steps.windowsRunLivepreview.outcome == 'failure' || steps.windowsRunLegacyInteg.outcome == 'failure'
        run: |
          echo "Windows tests failed, marking step as failed"
          exit 1
        shell: cmd
