name: 'Desktop-Linux full test suite run on pull request'
on:
  pull_request:
    branches: [ main ]

concurrency:
  group: pr-desktop-linux-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test-desktop-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
          sudo apt install build-essential curl wget file libssl-dev libayatana-appindicator3-dev
          sudo apt-get install xvfb

      - name: npm install ci deps
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm ci

      - name:  Download phoenix and build build phoenix dist-test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run _ci-clonePhoenixForTests
          cd ..
          cd phoenix
          npm ci
          npm run build
          npm run release:dev

      - name: build test runner
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm ci
          npm run releaseDistTestDebug

      - name: Run tauri unit tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: xvfb-run ./src-tauri/target/debug/phoenix-test --run-tests=unit -q

      - name: Run tauri integration tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: xvfb-run ./src-tauri/target/debug/phoenix-test --run-tests=integration -q

      - name: Run tauri mainview tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: xvfb-run ./src-tauri/target/debug/phoenix-test --run-tests=mainview -q

      - name: Run tauri livepreview tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: xvfb-run ./src-tauri/target/debug/phoenix-test --run-tests=livepreview -q

      - name: Run tauri LegacyInteg tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: xvfb-run ./src-tauri/target/debug/phoenix-test --run-tests=LegacyInteg -q
