name: Create update-notification to all installed builds
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#release
on:
  release:
    types:
      - edited
      - published

jobs:
  build-tasks:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: |
          echo '${{ toJSON(github) }}'
          echo "$GITHUB_REF repo=${{github.event.repository.full_name}}"

      - uses: actions/checkout@v3
        with:
          ref: main
      - uses: actions/github-script@v6
        name: Update docs folder with tauri update jsons
        with:
          script: |
            const { default: printStuff }
            = await import('${{ github.workspace }}/.github/workflows/updateNotification.js');
            await printStuff({github, context, githubWorkspaceRoot: '${{ github.workspace }}'});

      - name: Create update notification Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: 'ci: tauri release update notification json'
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: '[Release BOT] Update release notification as part of new release ${{ github.ref_name }}'
          add-paths: |
            docs/tauri/**
          body: |
            Update release notification as part of new release. Once this Pull request is merges
            in main branch, please merge it into `update-notifications` branch to trigger update rollout
            to the full install base after testing.
            - Auto-generated by `updateNotification.yml` action